<h1> ANSWER PAGE</h1>


<h2> the question you asked for </h2>

<%= @question %>

<h2> the answer of you fucking coach </h2>
<%= @answer %>

<%= link_to "Ask a new question", '/ask', { :class => "btn-max" } %>
